{% extends 'YourBooksMainBundle::base.html.twig' %}

{% block body %}

    <form method="post" {{ form_enctype(form) }} class="book-upload">

        <div class="bloc">
            {{ form_row(form.title) }}
            <div class="category-upload">
                {{ form_row(form.category) }}
            </div>
            {{ form_row(form.file) }}
        </div>

        <div class="bloc bloc-textarea">
            {{ form_row(form.summary) }}

            <div class="checkbox">
                {{ form_row(form.terms) }} <a href="{{ path('your_books_main_charte') }}"> J'ai lu et accepté les conditions d'utilisations</a>
            </div>
            <div class="clear">

            </div>

            {{ form_rest(form) }}



            <input type="submit" class="submit">
        </div>
        <div class="clear"></div>
    </form>
{% endblock %}