{% extends 'YourBooksMainBundle::base.html.twig' %}

{% block body %}
    <div id="home_author">
        <div class="manuscrits">
            {% for label, flashes in app.session.flashbag.all %}
                {% for flash in flashes %}
                    <div class="alert alert-{{ label }}">
                        {{ flash }}
                    </div>
                {% endfor %}
            {% endfor %}
            <p class="infos-maj" >N'oubliez pas de mettre vos informations régulièrement à jour afin que les éditeurs puissent vous contacter sans problème.</p>
            {% if  countBooksSubmit == 0 %}
                <div class="first_connexion">
                    <h1>Bienvenue</h1>
                    <p>Vous n'avez pour l'instant aucun manuscrit soumis.</p>
                    <img src="{{ asset('bundles/yourbooksmain/images/logo_first_connexion.png') }}" alt="logo_yourbooks">
                    <a href="{{ path ('your_books_main_author_send_book') }}">Soumettre un manuscrit</a>
                </div>
            {% else %}

            <h1>Mes manuscrits</h1>

            {% for book in books %}
                {% if (book.retracted == false) %}
                    <div class="book">
                            <div class="couverture {{ book.category.familyCategory.colorCategory }}">
                                <h3 class="title">{{ book.title | truncate(30, true, '...') }}</h3>
                                <img src="{{ asset(book.category.webPath) }}">
                            </div>
                            <div class="createdat">
                                <span>SOUMIS LE :</span><br>
                                <time>{{ book.createdAt|date("d/m/Y") }}</time>
                            </div>
                            <div class="block_statut">
                                <span class="statut">Statut :</span>
                                <div class="content_statut">
                                    {% if book.readerValidation %}
                                        Soumis aux éditeurs
                                        <div class="progress_bar">
                                            <span class="progress sendeditor"></span>
                                        </div>
                                        <span class="pourcentage">100%</span>
                                        <div class="icone">
                                            <img id="auteur" src="{{ asset('bundles/yourbooksmain/images/author/auteur.png') }}" alt="Auteur"/>
                                            <img id="lecteur" src="{{ asset('bundles/yourbooksmain/images/author/lecteur.png') }}" alt="Lecteur"/>
                                            <img id="editeur" src="{{ asset('bundles/yourbooksmain/images/author/editeur.png') }}" alt="Editeur"/>
                                            <div class="clear"></div>
                                        </div>
                                    {% elseif book.sendByReader %}
                                        En cours de lecture et de notation
                                        <div class="progress_bar">
                                            <span class="progress reading"></span>
                                        </div>
                                        <span class="pourcentage">50%</span>
                                        <div class="icone">
                                            <img id="auteur" src="{{ asset('bundles/yourbooksmain/images/author/auteur.png') }}" alt="Auteur"/>
                                            <img id="lecteur" src="{{ asset('bundles/yourbooksmain/images/author/lecteur.png') }}" alt="Lecteur"/>
                                            <img id="editeur" src="{{ asset('bundles/yourbooksmain/images/author/editeur.png') }}" alt="Editeur"/>
                                            <div class="clear"></div>
                                        </div>
                                    {% elseif book.enabled %}
                                        envoyé aux lecteurs
                                        <div class="progress_bar">
                                            <span class="progress sendreader"></span>
                                        </div>
                                        <span class="pourcentage">25%</span>
                                        <div class="icone">
                                            <img id="auteur" src="{{ asset('bundles/yourbooksmain/images/author/auteur.png') }}" alt="Auteur"/>
                                            <img id="lecteur" src="{{ asset('bundles/yourbooksmain/images/author/lecteur.png') }}" alt="Lecteur"/>
                                            <img id="editeur" src="{{ asset('bundles/yourbooksmain/images/author/editeur.png') }}" alt="Editeur"/>
                                            <div class="clear"></div>
                                        </div>

                                    {% else %}
                                        en attente de validation
                                        <div class="progress_bar">
                                        </div>
                                        <span class="pourcentage">0%</span>
                                        <div class="icone">
                                            <img id="auteur" src="{{ asset('bundles/yourbooksmain/images/author/auteur.png') }}" alt="Auteur"/>
                                            <img id="lecteur" src="{{ asset('bundles/yourbooksmain/images/author/lecteur.png') }}" alt="Lecteur"/>
                                            <img id="editeur" src="{{ asset('bundles/yourbooksmain/images/author/editeur.png') }}" alt="Editeur"/>
                                            <div class="clear"></div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            {% if date(book.createdAt) >  date('-7days')  %}
                                <div class="btn_suppr">
                                    <a href="{{ path('your_books_main_author_retracted_book', { 'id': book.id })}}">Me rétracter</a>
                                </div>
                            {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
            {% endif %}
            <div class="clear"></div>
        </div>

        <div class="wrapper">
            <div class="historique">
            <h2>Historique</h2>

            <ul>
                <li><p>Nombre de livres soumis</p><span>{{ countBooksSubmit }}</span></li>
                <li><p>Nombre de livres notés </p><span>{{ countBooksRead }}</span></li>
            </ul>

            <div class="graph">

                <input type="text" value="{{ percent }}" class="dial">
                <span class="percent">%</span>
                <div class="infos">

                    <div class="legend u">
                        <div class="cercle un"></div><span>Livres soumis</span>
                    </div>

                    <div class="legend d">
                        <div class="cercle deux"></div><span>Livres notés</span>
                    </div>

                </div>

            </div>

        </div>
        </div>

    </div>
{% endblock %}

{% block javascripts %}
   {{ parent() }}
   <script type="text/javascript" src="{{ asset('bundles/yourbooksmain/js/jquery.knob.js') }}"></script>
    <script>
        $(document).ready(function(){
            $(".dial").knob({
                'bgColor': '#ef4853',
                'inputColor' : '#5e051c',
                'fgColor' :'#5e051c',
                'thickness' : '0.4',
                'readOnly' : true,
                'skin' : 'tron',
                'displayPrevious' : true,
                'font' : 'Quicksand Bold',
                'width' : '300',
                'height' : '300'
            });
        });
    </script>
{% endblock %}