{% extends 'YourBooksMainBundle::base.html.twig' %}

{% block body %}
    <div id="home_author">
        <div class="manuscrits">
            <h1>Mes manuscrits</h1>

            {% for book in books %}
                <div class="book">

                        <div class="couverture">
                            <h3 class="title">{{ book.title }}</h3>
                            <span class="category">{{ book.category }}</span>
                        </div>
                        <div class="createdat">
                            <span>SOUMIS LE :</span><br>
                            <time>{{ book.createdAt|date("d/m/Y") }}</time>
                        </div>
                        <div class="block_statut">
                            <span class="statut">Statut :</span>
                            <div class="content_statut">
                                {% if book.readerValidation %}
                                    Soumis aux éditeurs
                                    <div class="progress_bar">
                                        <span class="progress sendeditor"></span>
                                    </div>
                                    <span class="pourcentage">100%</span>
                                {% elseif book.sendByReader %}
                                    En cours de lecture et de notation
                                    <div class="progress_bar">
                                        <span class="progress reading"></span>
                                    </div>
                                    <span class="pourcentage">50%</span>
                                {% else %}
                                    envoyé aux lecteurs
                                    <div class="progress_bar">
                                        <span class="progress sendreader"></span>
                                    </div>
                                    <span class="pourcentage">25%</span>

                                {% endif %}
                            </div>
                        </div>
                </div>
            {% endfor %}
            <div class="clear"></div>
        </div>

        <div class="wrapper">
            <div class="historique">
            <h2>Historique</h2>

            <ul>
                <li><p>Nombre de livres soumis</p> <span>{{ countBooksRead }}</span></li>
                <li><p>Nombre de livres notés </p><span>{{ countBooksSubmit }}</span></li>
            </ul>

            <div class="graph">

                <input type="text" value="{{ percent }}" class="dial">

                <div class="infos">

                    <div class="legend u">
                        <div class="cercle un"></div><span>Livres soumis</span>
                    </div>

                    <div class="legend d">
                        <div class="cercle deux"></div><span>Livres notés</span>
                    </div>

                </div>

            </div>

        </div>
        </div>
        <script>

            $(function() {
                $(".dial").knob({

                    'bgColor': '#ef4853',
                    'inputColor' : '#5e051c',
                    'fgColor' :'#5e051c',
                    'thickness' : '0.4',
                    'readOnly' : true,
                    'skin' : 'tron',
                    'displayPrevious' : true,
                    'font' : 'Quicksand Bold',
                    'width' : '300',
                    'height' : '300'

                });
            });
        </script>



    </div>
{% endblock %}