{% extends 'YourBooksMainBundle::base.html.twig' %}

{% block body %}
    <div id="home_author">
        <div class="manuscrits">
            <h1>Mes manuscrits</h1>

            {% for book in books %}
                <div class="book">

                        <div class="couverture">
                            <h3 class="title">{{ book.title }}</h3>
                            <span class="category">{{ book.category }}</span>
                        </div>
                        <div class="createdat">
                            <span>SOUMIS LE :</span><br>
                            <time>{{ book.createdAt|date("d/m/Y") }}</time>
                        </div>
                        <div class="block_statut">
                            <span class="statut">Statut :</span>
                            <div class="content_statut">
                                {% if book.readerValidation %}
                                    Soumis aux éditeurs
                                    <div class="progress_bar">
                                        <span class="progress sendeditor"></span>
                                    </div>
                                    <span class="pourcentage">100%</span>
                                {% elseif book.sendByReader %}
                                    En cours de lecture et de notation
                                    <div class="progress_bar">
                                        <span class="progress reading"></span>
                                    </div>
                                    <span class="pourcentage">50%</span>
                                {% else %}
                                    envoyé aux lecteurs
                                    <div class="progress_bar">
                                        <span class="progress sendreader"></span>
                                    </div>
                                    <span class="pourcentage">25%</span>

                                {% endif %}
                            </div>
                        </div>
                </div>
            {% endfor %}
            <div class="clear"></div>
        </div>

        <div class="historique">
            <h1>Historique</h1>
            <h2>Nombre de livres notés : {{ countBooksRead }}</h2>
            <h2>Nombre de livres soumis : {{ countBooksSubmit }}</h2>
        </div>
    </div>
{% endblock %}