{% extends 'YourBooksMainBundle::base.html.twig' %}
{% block title %}{{ parent() }}Mon profil{% endblock %}
{% block body %}
    {{ user.username }}
    {{ user.email }}
    {{ user.firstname }}

    <a href="{{ path('your_books_main_author_edit_profile') }}">
        Modif profile
    </a>
{% endblock %}