{% extends 'YourBooksMainBundle::base.html.twig' %}
{% block title %}{{ parent() }}Mon historique{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/yourbooksmain/css/bootstrap/bootstrap.css') }}">
{% endblock %}
{% block body %}

    {% if books is empty %}
        <div class="first_historic">
            <a class="back_editor" href="{{ path('your_books_main_editor_homepage') }}">Revenir aux manuscrits</a>
            <h1>Historique</h1>
            <p>Vous n'avez pour l'instant aucun manuscrit dans votre historique.</p>
            <img src="{{ asset('bundles/yourbooksmain/images/logo_first_connexion.png') }}" alt="logo_yourbooks">
            <a href="{{ path ('your_books_main_editor_homepage') }}">Revenir sur l'espace éditeur</a>
        </div>
    {% else %}
<div id="homepage-editor" class="historic-editor">
    <a class="back_editor" href="{{ path('your_books_main_editor_homepage') }}">Revenir aux manuscrits</a>
    <h1>Historique</h1>
    <div class="list-books">
        {% for book in books %}
            <!-- le book cliquable -->
            <div  class="couverture {{ book.category.familyCategory.colorCategory }}">

                <!-- Trigger de l'apparition du cadre déroulant, remplacer le href par l'id du livre (ex: #65) -->
                <a class="link" data-placement="bottom" data-toggle="popover" href="#{{ book.id }}">
                    <div class="filtre-hover">
                        <img src="{{ asset('bundles/yourbooksmain/images/oeil-hover-blanc.png') }}">
                    </div>
                    <h3 class="title">{{ book.title | truncate(15, true, '...') }}</h3>
                    <img src="{{ asset(book.category.webPath) }}">
                    {% set review = book.review.noteGlobale * 10 %}

                    <div class="review review{{ review }}"></div>
                </a>
                <div class="arrow {{ book.category.familyCategory.colorCategory }}"></div>


            </div>


            <div id="{{ book.id }}" class="container-slide-down" style="display: none">
                <div class="{{ book.category.familyCategory.colorCategory }} slide-down">
                    <div class="bloc">
                        <h1>{{ book.title }}</h1>
                        <div class="review review{{ review }}"></div>
                        <div class="download">
                            <a class="active" href="{{ path('your_books_main_download_book', { 'id': book.id }) }}">Télécharger ce manuscrit</a>
                            <a class="disabled" href="">Télécharger ce manuscrit</a>
                            <form>
                                <input type="checkbox" class="checkbox">
                                <label>J'accepte les <a href="{{ path('your_books_main_conditions') }}" target="_blank">conditions d'utilisation</a></label>
                            </form>
                        </div>
                    </div>
                    <div class="bloc bloc-summary">
                        <h2>Résumé</h2>
                        <p>{{ book.review.summary }}</p>
                    </div>
                    <div class="bloc">
                        <h2>Critique</h2>
                        <p>{{ book.review.critic }}</p>
                    </div>
                    <div class="bloc bloc-author">
                        <a href="{{ path('your_books_main_editor_profile_author', {'id' : book.author.id}) }}">Voir le profil de l'auteur</a>
                    </div>

                    <div class="clear"></div>
                </div>

            </div>
        {% endfor %}
    </div>
    <div class="clear"></div>
</div>
    {% endif %}
        {% block javascripts %}
            {{ parent() }}
            <script src="{{ asset('bundles/yourbooksmain/js/bootstrap.min.js')}}"></script>
            <script>


                $(document).ready(function(){
                    $('.arrow').hide();
                    //On lance la fonction popover de bootstrap
                    $(".link").popover(
                            {
                                //on met le html à true pour pouvoir récupérer notre div via notre ancre href
                                html : true,
                                content: function() {
                                    return $($(this).attr("href")).html();
                                }
                            });
                    //Customisation de notre popover
                    $(".link").click( function() {

                        //On récupère la position en left par rapport à l'écran du book sur lequel on clique
                        var book = $(this).parent().offset().left;


                        //On récupère la position en left par rapport à l'écran de notre liste de books
                        var liste = $('.list-books').offset().left;


                        //Ici le calcul de ouf que même Frankenstein il serait bluffé :p
                        //-position de mon book + position de ma liste - largeur de mon book divisée par 2 - le border-left de mon book qui est de 6px
                        var calcul = - book + liste + 10;
                        //- ($(this).parent().width())/2 - 6;

                        //Et on a plus qu'à donner notre position au popover!
                        $( ".popover" ).css( "left" , calcul + 'px');

                        //ici on donne la même width que notre liste à notre popover, comme ça si le site est responsive la largeur s'ajustera automatiquement
                        var popoverWidth = $('.container').width();
                        $('.popover').css("width", popoverWidth);

                        $(".arrow",$(this).parent()).toggle();

                        $(".disabled").click( function(e) {
                            e.preventDefault();
                            alert('Veuillez accepter les conditions d\'utilisation');

                        });

                        $('input').change(function() {
                            if ($(this).is(':checked')) {
                                $(".disabled").hide();
                                $(".active").show();
                            } else {
                                $(".active").hide();
                                $(".disabled").show();
                            }
                        });
                    });


                    //Le bout de code magique que j'ai récupéré pour que lorsqu'on clique en dehors du popover il se ferme automatiquement ;)
                    //Une alternative à la fonction focusout qui n'est pas compatible avec firefox
                    //On clique n'importe où sur le body
                    $('body').on('click', function (e) {
                        $('.link').each(function () {

                            //On met une condition pour dire de ne pas cacher le popover si on a cliqué sur le trigger qui l'affiche
                            if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
                                $(this).popover('hide');
                                $('.arrow',$(this).parent()).hide();
                            }
                        });
                    });




                    $('.container').append('<div class="clear"></div>');


                });



            </script>
        {% endblock %}
{% endblock %}