{% extends 'YourBooksMainBundle::base.html.twig' %}

{% block body %}
    <div class="list-books">

        {% for book in books %}
            <!-- le book cliquable -->
            <div class="couverture {{ book.category.familyCategory.colorCategory }}">

                <!-- Trigger de l'apparition du cadre déroulant, remplacer le href par l'id du livre (ex: #65) -->
                <a class="link" href="#book-content">
                    <div class="filtre-hover">
                        <img src="{{ asset('bundles/yourbooksmain/images/oeil-hover-blanc.png') }}">
                    </div>
                    <h3 class="title">{{ book.title | truncate(15, true, '...') }}</h3>
                    <img src="">
                </a>
                <a href="{{ path('your_books_main_editor_profile_author', { 'id': book.author.id }) }}">Voir profil auteur</a>
                <div class="arrow"></div>

            </div>

            <!-- Cadre déroulant, remplacer l'id par l'id du livre (ex: #65) -->
            <div id="book-content" class="slide-down green">
                <div class="bloc">
                    <h1>{{ book.title }}</h1>
                    <img src="">
                    <a href="{{ path('your_books_main_download_book', { 'id': book.id }) }}"><button>Télécharger ce manuscrit</button></a>
                    <form>
                        <input type="checkbox">
                        <label>J'accepte les conditions d'utilisation</label>
                    </form>
                </div>
                <div class="bloc bloc-summary">
                    <h2>Résumé</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque bibendum risus sed lectus aliquam dignissim. Nam volutpat id dolor non laoreet. Fusce nec orci a ipsum lobortis mattis vel at velit. Nam consequat sagittis risus, non ullamcorper nulla. Phasellus sit amet egestas justo. Praesent eget imperdiet nibh. Mauris in nunc sed nunc volutpat vulputate eget eget purus. Fusce vitae libero tempus, dictum lorem a, molestie lacus. Nam gravida nunc mi, quis pellentesque urna tristique sed. Nam sagittis velit leo, vitae auctor velit faucibus nec. Phasellus eget ante ut leo lacinia semper et eu erat. Maecenas ullamcorper velit et erat tristique luctus.</p>
                </div>
                <div class="bloc">
                    <h2>Critique</h2>
                    <p>Duis quis volutpat sapien. Integer in diam nulla. Sed ornare erat justo, non volutpat dui bibendum et. Morbi dui leo, blandit eget libero sit amet, laoreet suscipit dolor. Suspendisse congue non leo mollis accumsan. Praesent ac cursus metus. In hac habitasse platea dictumst. Cras aliquet, enim ac euismod elementum, tortor tortor tempus turpis, at posuere enim purus a purus. Nunc gravida commodo odio sit amet elementum. In tempor arcu egestas congue elementum. Proin quis malesuada dolor. Phasellus non adipiscing velit, eleifend fringilla odio.</p>
                </div>
                <a class="close" href="">Close</a>
                <div class="clear"></div>

            </div>
        {% endfor %}
    </div>
    {% block javascripts %}
        {{ parent() }}
        <script>

            //Quand on clique sur un book
            $('.link').click(function(e){
                e.preventDefault();

                //On montre la petite flèche correspondant au book
                var parent = $(this).parent();
                $('.arrow',parent).show();
                //On récupère l'ancre du lien
                var content = $(this).attr("href");

                //On insère la div dans le main, car elle doit remplir tout l'écran donc on ne peut pas la laisser dans le container
                $("body").append($(content));

                //Effet de slide
                $(content).slideDown();

            });

            //Quand on clique sur le bouton close
            $('.close').click(function(e){
                e.preventDefault();

                //On cache la petite flèche
                $(".arrow").delay(500).queue(function() {
                    $(this).hide().dequeue();
                });

                //On récupère la div parent du bouton close et on la ferme
                $(this).parent().slideUp();
            });



        </script>
    {% endblock %}
{% endblock %}