{% extends 'YourBooksMainBundle::base.html.twig' %}

{% block body %}
    <!-- TODO  li: sous categorie = récupérer le nom + l'image
    -->

    <aside class="category">
        <ul>
            <h1>Catégories</h1>
            <li>
                {% for category in categories %}
                    <ul class="{{ category.colorCategory }}">
                        <span class="title">{{ category.name }}</span>
                        <li><img src="{{ asset('bundles/yourbooksmain/images/policier.png') }}" alt="policier">Policier</li>
                        <li><img src="{{ asset('bundles/yourbooksmain/images/philo.png') }}" alt="philo">Philo</li>
                        <li><img src="{{ asset('bundles/yourbooksmain/images/horreur.png') }}" alt="horreur">Horreur</li>
                    </ul>
                {% endfor %}
            </li>
        </ul>
    </aside>

    <div>
        <h1>Books</h1>
        <ul>
            {% for book in books %}
                <li><div class="couverture">{{ book.title }} <br/> {{ book.createdAt|date("d/m/Y") }}</div></li>
                <a href="{{ path('your_books_main_download_book', { 'id': book.id }) }}">Téléchargez</a>
                <!-- <a href="{ path('your_books_main_author_profile', { 'id': author.id }) }}">Voir le profil de l'auteur</a> -->
            {% endfor %}
        </ul>
    </div>


{% endblock %}