<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}YourBooks{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets
                'bundles/yourbooksmain/css/*.css'
                'bundles/yourbooksmain/less/*.less'
                filter='lessphp, cssrewrite'
                output='css/style.css'
            %}
                <link rel="stylesheet" href="{{ asset_url }}">
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
        <script src="{{ asset('bundles/yourbooksmain/js/modernizr.min.js') }}"></script>
    </head>
    <body>


        <header>
            <a href="{{ path ('your_books_main_homepage') }}"><img src="{{ asset('bundles/yourbooksmain/images/logo.png') }}" alt="Logo Yourbooks" title="Logo YourBooks" class="logo"></a>

            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {% if is_granted('ROLE_ADMIN') %}

                 {% elseif is_granted('ROLE_AUTHOR') or is_granted('ROLE_EDITOR') or is_granted('ROLE_READER') %}
                     <nav class="navicon">
                         <ul>
                             {% if is_granted('ROLE_AUTHOR')%}
                                 <li><a href="{{ path ('your_books_main_author_send_book') }}"><img src="{{ asset('bundles/yourbooksmain/images/soumettre-manuscrit-blanc.png') }}" alt="Soumettre son manuscrit" title="Soumettre son manuscrit"></a>
                                 </li>
                             {% endif %}

                             <li><a href="#"><img src="{{ asset('bundles/yourbooksmain/images/manuscrit-blanc.png') }}" alt="Mes Manuscrits" title="Mes Manuscrits"></a>
                             </li>
                             <li><a href="{{ path ('your_books_user_profile_edit') }}"><img src="{{ asset('bundles/yourbooksmain/images/reglage-blanc.png') }}" alt="Paramètres" title="Paramètres"></a>
                             </li>
                         </ul>
                     </nav>
                     <div class="authenticated">
                         <div class='infos'>
                             <p>{{ app.user.username }}</p>
                             <a href="{{ path('your_books_user_profile_show') }}">Voir mon profil</a>
                         </div>
                         <a href="{{ path('your_books_user_security_logout') }}"><img src="{{ asset('bundles/yourbooksmain/images/log-out-blanc.png') }}" alt="Logout" title="logout"></a>
                     </div>
                {% endif %}


            {% endif %}

        </header>

        <div class="container">
            {% block body %}{% endblock %}
        </div>


        <div class="clear"></div>
        <footer>
            <ul>
                <li><a href="{{ path('your_books_main_presse') }}">Espace presse</a></li>
                <li><a href="{{ path('your_books_main_team') }}">L'équipe YourBooks</a></li>
                <li><a href="{{ path('your_books_main_charte') }}">Charte d'écriture</a></li>
                <li><a href="{{ path('your_books_main_contact') }}">Contact</a></li>
                <li><a href="{{ path('your_books_main_engagements') }}">Nos engagements</a></li>
                <li><a href="{{ path('your_books_main_partenaires') }}">Nos partenaires</a></li>
                <li><a href="{{ path('your_books_main_mentionslegales') }}">Mentions légales</a></li>
                <li><a href="{{ path('your_books_reader_registration_register', { 'account': 'reader' }) }}">Devenez lecteur</a></li>
                <li><a href="#">Devenez éditeur partenaire</a></li>
            </ul>
        </footer>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ asset('bundles/yourbooksmain/js/jquery-1.10.2.min.js') }}"><\/script>')</script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
