<div class="clear"></div>
<div class="fos_user_user_show">
    <div class="profile_div">
        <h2>Identité</h2>
        <p><span class="title">{{ 'profile.show.lastname'|trans({}, 'FOSUserBundle') }}</span><span class="infos"> {{ user.lastname | truncate(10, true, '...') }}</span></p>
        <p><span class="title">{{ 'profile.show.firstname'|trans({}, 'FOSUserBundle') }}</span><span class="infos"> {{ user.firstname | truncate(10, true, '...') }}</span></p>
        <p><span class="title">{{ 'profile.show.dateOfBirth'|trans({}, 'FOSUserBundle') }}</span><span class="infos"> {{ user.dateOfBirth|date("d/m/Y")| truncate(10, true, '...')  }}</span></p>
    </div>

    <div class="profile_div">
        <h2>Coordonnées</h2>
        <p><span class="title">{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}</span><span class="infos"> {{ user.email | truncate(10, true, '...') }}</span></p>
        <p><span class="title">{{ 'profile.show.phone'|trans({}, 'FOSUserBundle') }}</span><span class="infos"> {{ user.phone| truncate(10, true, '...')  }}</span></p>
    </div>

    <div class="profile_div">
        <h2>Lieu de résidence</h2>
        <p><span class="title">{{ 'profile.show.street'|trans({}, 'FOSUserBundle') }}</span><span class="infos"> {{ user.street| truncate(10, true, '...')  }}</span></p>
        <p><span class="title">{{ 'profile.show.zipcode'|trans({}, 'FOSUserBundle') }}</span><span class="infos"> {{ user.zipcode| truncate(10, true, '...')  }}</span></p>
        <p><span class="title">{{ 'profile.show.city'|trans({}, 'FOSUserBundle') }}</span><span class="infos"> {{ user.city| truncate(10, true, '...')  }}</span></p>
    </div>

    <div class="profile_div">
        <h2>Présentation</h2>
        <p><span class="infos">{{ user.biography| truncate(30, true, '...')  }}</span></p>
    </div>

</div>