<form action="{{ path('your_books_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">

    <div class="profile_mdp_div">
        {{ form_widget(form) }}
    </div>

    <div class="profile_mdp">
        <input type="submit" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>

</form>
<div class="profile_mdp_a">
    <a href="#" onclick="if (confirm('Êtes-vous certain de vouloir désactiver votre compte ? ')) window.location='{{ path('your_books_user_locked') }}';  return false">Désactiver mon compte</a>
</div>