{% extends 'YourBooksMainBundle::base.html.twig' %}

{% block body %}
    <div class="background"></div>
  <div class="home">
    <h1 class="home">Your-Books, le trait d'union entre auteurs et éditeurs</h1>
    <ul class="home">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <aside class="home">
        <ul>
            <li>
                <img alt="crayon" src="{{ asset('bundles/yourbooksmain/images/auteur.png') }}">
                <h2>Soumettez votre manuscrit</h2>
            </li>
            <li>
                <img alt="lunettes" src="{{ asset('bundles/yourbooksmain/images/lecteur.png') }}">
                <h2>Il est lu et noté par des experts reconnus</h2>
            </li>
            <li>
                <img alt="book" src="{{ asset('bundles/yourbooksmain/images/editeur.png') }}">
                <h2>Il est présenté aux éditeurs</h2>
            </li>
        </ul>
    </aside>
    <div class="connect">
        <h3>Connectez-vous</h3>
        {% if error %}
            <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
        {% endif %}

        {# {{ form(registrationForm) }} #}

        <form action="{{ path("your_books_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

            <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

            <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
            <input type="password" id="password" name="_password" required="required" />

            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>

            <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
        </form>

        <div class="register">
            <h3>Pas encore membre ?</h3>
            <form action="{{ path('your_books_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
                {{ form_widget(form) }}
                <div>
                    <input type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
                </div>
            </form>
        </div>
    </div>






    <div class="clear"></div>
  </div>

    <!-- TODO inclure formulaire d'inscription auteur + formulaire de login  -->
{% endblock %}